.glitch {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.glitch::before {
    animation: glitch-anim-1 var(--before-duration) infinite linear alternate-reverse;
    text-shadow: var(--before-shadow);
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, 0);
    opacity: 0;
}

.glitch::after {
    animation: glitch-anim-2 var(--after-duration) infinite linear alternate-reverse;
    text-shadow: var(--after-shadow);
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.025em, 0);
    opacity: 0;
}

.glitch:hover::before,
.glitch:hover::after,
.glitch:not(.enable-on-hover)::before,
.glitch:not(.enable-on-hover)::after {
    opacity: 1;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(40% 0 61% 0);
    }

    20% {
        clip-path: inset(92% 0 1% 0);
    }

    40% {
        clip-path: inset(43% 0 1% 0);
    }

    60% {
        clip-path: inset(25% 0 58% 0);
    }

    80% {
        clip-path: inset(54% 0 7% 0);
    }

    100% {
        clip-path: inset(58% 0 43% 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(24% 0 29% 0);
    }

    20% {
        clip-path: inset(54% 0 21% 0);
    }

    40% {
        clip-path: inset(1% 0 1% 0);
    }

    60% {
        clip-path: inset(99% 0 1% 0);
    }

    80% {
        clip-path: inset(1% 0 99% 0);
    }

    100% {
        clip-path: inset(45% 0 1% 0);
    }
}